
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../assets/b2.jpg" alt="First slide" height="400" style="width: 100%;">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/b1.jpg" alt="Second slide" height="400" style="width: 100%;">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/b3.jpg" alt="Third slide"  height="400" style="width: 100%;">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
  <p >        __________</p>

  <h1>Research is in our nature</h1>
  <br>
  <h5>Ever since the foundation in 1953, we have applied our research efforts to develop scientific knowledge with an emphasis on interdisciplinary research and engagement with wider research community.
<br> <br>Manipal Academy of Higher Education is a globally engaged institution with active partnership with more than 220 leading universities around the globe. Our relations with institutions, government agencies and organisations in study, research and service provide faculty and students access to world-class institutions, experiences and resources.
</h5>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img src="../assets/r1.jpg" width="250" height="410" style="width:100%">
                </div>
                <div class="col-md-6">
                    <img src="../assets/r2.png" style="width:100%"><br><br>
                    <img src="../assets/r2.png" style="width:100%">
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container-fluid" style="color:white;background-color:rgb(73, 70, 70); text-align: center;">
    <br>
    <p>_____________</p>
    <h1>International Collaborations</h1>
    <br>
    <h5>Manipal Academy of Higher Education is a globally engaged institution with active partnership with more than 220 leading universities around the globe. Our relations with institutions, government agencies and organisations in study, research and service provide faculty and students access to world-class institutions, experiences and resources.</h5>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <img src="../assets/m1.png">
        </div>
        <div class="col-md-3 ">
            <img src="../assets/m2.png">
        </div>
        <div class="col-md-3 ">
            <img src="../assets/m3.png">
        </div>
        <div class="col-md-3 ">
            <img src="../assets/m4.png">
        </div>
       
    </div>
</div>
</div>
<br><br>

<div class="container">
    <h1>News</h1><br>
    <div class="row">
        <div class="col-md-8">
        <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../assets/n1.jpg" alt="First slide" height="400" style="width: 100%;">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../assets/n2.jpg" alt="Second slide" height="400" style="width: 100%;">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../assets/n3.jpg" alt="Third slide"  height="400" style="width: 100%;">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          </div>
          
          <div class="col-md-4 card">

<h2 style="color:red">Events</h2>

<h5>
    Women's Week Conclave at Great Lakes | #ChoosetoChallenge<b>04th March</b></h5>

<br><br><h5>
   
Former Governor of RBI, Dr. Subbarao at the GL-UB Finance Conference 2022<b>10th March</b></h5>

<br><br><h5>
   
    Former Governor of RBI, Dr. Subbarao at the GL-UB Finance Conference 2022<b>10th March</b></h5>
    
    

          </div>
    </div>
    
   
</div>
