    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
         <a class="navbar-brand" href="#"><img src="../assets/admin.gif" height="40">Admin </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
         <div class="collapse navbar-collapse" id="main_nav">
           <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">  Student Management  </a>
                 <ul class="dropdown-menu">
                   <li><a class="dropdown-item" routerLink="/createstudent"> Create Student</a></li>
                   <li><a class="dropdown-item" routerLink="/viewstudent"> View Student Details </a></li>
   
                 </ul>
             </li>
             <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">  Course Management  </a>
                 <ul class="dropdown-menu">
                   <li><a class="dropdown-item"  routerLink="/createcourse"> Create Course</a></li>
                   <li><a class="dropdown-item" routerLink="/viewcourse"> View Course Details </a></li>
   
                 </ul>
             </li>
             <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">  Activity Management  </a>
                 <ul class="dropdown-menu">
                   <li><a class="dropdown-item"  routerLink="/createactivity"> Create Activity</a></li>
                   <li><a class="dropdown-item" routerLink="/viewactivity"> View Activity Details </a></li>
   
                 </ul>
             </li>
   
               <li class="nav-item dropdown">
                  <a class="nav-link " routerLink="/viewcontact" > Contact Inquries </a>
                   
               </li>
           </ul>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;
          
           <form class="form-inline my-2 my-lg-0" >
          <img src="../assets/logout.png" width="30" (click)="logout() "> 
          </form>
         </div> 
         </div>
       </nav>