<router-outlet></router-outlet>
<app-sidenav></app-sidenav>

<div class="container-fluid" style="background-image:url('../assets/bgg.jpg')">
<br>
<br><br><br>
<br><br><br>
<br><br><p style="color:white; font-size: 50px; font-weight: bolder;">Welcome To Admin Portal
<br>
MAHE Bengaluru</p> 
<p style="color:white; font-size: 20px;">
Manipal Academy of Higher Education (MAHE),
synonymous with excellence in Higher Education, <br>
has been accorded the status of Institute of Eminence by MHRD, (GoI).</p><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>

</div>
  