<br>
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
            &nbsp;           &nbsp;          &nbsp;<img src="../assets/cl.png" width="50"><h5>AGB College<br>Research and development</h5>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a routerLink="/about"><i class="fa fa-angle-double-right"></i>About Us</a></li>
                    <li><a routerLink="/login"><i class="fa fa-angle-double-right"></i>Login</a></li>
                    <li><a routerLink="/register"><i class="fa fa-angle-double-right"></i>Register</a></li>
                    <li><a routerLink="/contact" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <br><br><h5>Our Partners</h5>
               <img src="../assets/image.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a ><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a ><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a ><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a  target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://www.nationaltransaction.com/">AGB.com</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                <p class="h6">All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
            </div>
            <hr>
        </div>	
    </div>
</section>